.example-spacer {
  flex: 1 1 auto;
}

.navbar-main {
  margin: auto;
  width: 890px;
  border-bottom-right-radius: 11px;
  border-bottom-left-radius: 11px;
  margin-bottom: 10px;
  font-family: 'Poppins';
}

.menu-button {
  color: black !important;
  font-family: 'Poppins';
  font-weight: 600;
}